/* main css style sheet for  */

@media (min-width: 980px) {
  #container-wrap {
    padding-top: 60px;
  }
}

@media (max-height: 600px) and (min-width:480px){
  .modal{
    margin: -100px 0 0 -280px;
  }
}

@media (max-width: 980px) {
  div.loginbox i {
    display:none;
  }
}
html, body {
  height: 100%;
}
body {
   background: #000 url(img/bg_photo.jpg) no-repeat center -60px;
}

#body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
#footer, .push {
  height: 70px;
  clear: both;
}

#footer {
   color: #C7C4BF;
   background: #281f20;
}

#footer .row-fluid {
  padding-top: 30px;
}

.borderFooter {
   height: 0;
   overflow: visible;
   position: relative;
}

.borderFooter hr {
   background: transparent url(img/border_footer.png) repeat-x left top;
   height: 100px;
   width: 100%;
   position: absolute;
   top: -65px;
   border:0;
   z-index: 10;
}

.copyright {
  background: transparent url(img/logo_mini.png) no-repeat left center;
  padding-left: 110px;
}
a.followFB,
a.followTW {
    display: inline-block;
    width:0;
    height:0;
    text-indent: -9999em;
    padding: 12px;
    cursor: pointer;
    margin: 0 0 0 0.6em;
    vertical-align: middle;
}
a.followFB {
    background: transparent url(img/ico_fb.png) no-repeat left top;
}
a.followTW {
    background: transparent url(img/ico_tw.png) no-repeat left top;
}
