/* main css style sheet for  */
@media (min-width: 980px) {
  #container-wrap {
    padding-top: 60px;
  }
  #body-wrapper,
  #visual-portal-wrapper {
    min-height: 100%;
  }
  #body-wrapper {
    background: #000 url(img/bg_pattern_photo.png) repeat-x left -60px;
  }
  #visual-portal-wrapper {
    background: transparent url(img/bg_photo.jpg) no-repeat center -60px;
  }
}
@media (max-width: 980px) {
  #footer {
    display: none;
  }
  body{
    background: #000 url(img/bg_photo.jpg) no-repeat center -60px;
  }
}

#wrap {
 min-height: 100%;
}

#footer {
   clear: both;
   height: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   position: relative;
   margin-top: -70px;
   color: #C7C4BF;
   background: #060405 url(img/bg_gradient_footer.jpg) repeat-x center top;
}
.borderFooter hr {
   background: transparent url(img/border_footer.png) repeat-x left top;
   height: 100px;
   width: 100%;
   position: absolute;
   top: -75px;
   border:0;
   z-index: 10;
}

.copyright {
  background: transparent url(img/logo_mini.png) no-repeat left center;
  padding-left: 110px;
}
a.followFB,
a.followTW {
    display: inline-block;
    width:0;
    height:0;
    text-indent: -9999em;
    padding: 12px;
    cursor: pointer;
    margin: 0 0 0 0.6em;
    vertical-align: middle;
}
a.followFB {
    background: transparent url(img/ico_fb.png) no-repeat left top;
}
a.followTW {
    background: transparent url(img/ico_tw.png) no-repeat left top;
}
